*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  position: relative;
  align-self: end;
}

.result__video-container {
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.content__details {
  align-self: end;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 298px;
  margin-top: 26px;
  overflow: hidden scroll;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.preloader {
  position: absolute;
}
