*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  align-self: end;
}

.result__video-container {
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 235px 212px 194px;
  grid-template-rows: 54px;
  gap: 35px;
}

.content__details {
  align-self: end;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 298px;
  margin-top: 26px;
  overflow: hidden scroll;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
